@model WebNotes.Models.PublicNote

@{
    ViewData["Title"] = "ViewPublicNote";
}

<hr />
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label asp-for="UserName" class="control-label">Sender</label>
            <input asp-for="UserName" class="form-control" disabled="disabled" />
        </div>
        <div class="form-group">
            <label asp-for="Created" class="control-label"></label>
            <input asp-for="Created" class="form-control" disabled="disabled" />
        </div>
        <div class="form-group">
            <label asp-for="Title" class="control-label"></label>
            <input asp-for="Title" class="form-control" disabled="disabled" />
        </div>
        <div class="form-group">
            <label asp-for="NoteContent" class="control-label"></label>
            <textarea disabled="disabled" asp-for="NoteContent" class="form-control" style="min-height:30vh"></textarea>
        </div>
        <div class="form-group form-row">
            <div>
                <a class="btn btn-info ml-2" asp-action="PublicIndex" asp-controller="PublicNotes">Back to List</a>
            </div>
        </div>
    </div>
</div>

