@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome to the Personal Notes</h1>

        <img class="img-fluid" alt="Responsive image" src="~/Images/eng_pl_Arasaka-Notebook-123_4.jpg" />
    </div>
